{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
	
	<div class="row">
		<div class="col-sm-12">
				
			<h1 class="display-3 text-center">Personagens</h1>
			<hr class="my-4">
			{% if capa %}
			<img src="{{capa.imagem.url}}" alt="{{alt}}" class="rounded img-fluid mx-auto d-block img-capa">
			{% else %}
			<img src="{% static 'img/imagem_default.jpg' %}" alt="{{alt}}" class="rounded img-fluid mx-auto d-block img-capa">
			{% endif %}
			<hr class="my-4">

			<!--LISTAGEM DE PERSONAGENS-->
			{% if personagens %}

				<div class="table-responsive">
					<table class="table table-hover text-center table-hover">

						<tr class="thead-inverse">
							<th class="text-center">Avatar</th>
							<th class="text-center">Nome</th>
							<th class="text-center">Nivel</th>
							<th class="text-center">Jogador</th>
							<th></th>
						</tr>
						
						{% for personagem in personagens %}
							<tr>
								
								<td>
									<img class="avatar circle" src="{{ personagem.jogador.imagem.url }}"></img>
								</td>
								
								<td>{{personagem.nome}}</td>
								<td>{{personagem.nivel}}</td>
								<td>{{personagem.jogador.username}}</td>
								<td>
									<a class="btn btn-outline-secondary btn-sm" href="{% url 'personagem_view' id=personagem.id %}" role="button">
										VER
									</a>
								</td>
							</tr>
						{% endfor %}

					</table>
				</div>

			{% else %}

				<div class="page-header">
					<p class="lead text-center">Não há personagens a serem exibidos.</p>
				</div>

			{% endif %}

		</div>
	</div>

{% endblock %}